body {
    font-size: 13px;
}

div {
    border-radius: 3px;
}

legend {
    padding: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0px;
    font-size: 13px;

    line-height: inherit;
    color: #2a17a7;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

label {
    /*display: inline-block;*/
    margin-bottom: 0px;
    font-weight: bold;
    /*color:blue;*/
}

div#content {
    width: 700px;
    border: 1px solid #808080;
    padding:5px;
}

.table-display {
    font-size: 13px;
}

.table-display th {
    width:150px;
    text-align:right;
}

.table-display td {
    width:200px;
}

.table-display td input {
    padding:3px;
    width:95%;
}

.overflow {
    height: 200px;
}

/*Блокировка экрана*/
.LockOff {
    display: none;
    visibility: hidden;
}

.LockOn {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 105%;
    height: 1000%;
    background-color: #ccc;
    text-align: center;
    padding-top: 20%;
    filter: alpha(opacity=75);
    opacity: 0.75;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: #0033CC;
}

.left-panel {
    width:240px;
    float:left; 
    border: 1px solid #808080;
}

.right-panel {
    margin-left: 245px;
    width: 440px;
    border: 1px solid #808080;
}

.button-panel {
    margin-top: 5px;
    border: 1px solid #808080;
    clear: left;
    text-align: right;
    padding: 5px;
}

.input-edit {
    background-color: #e3efc5;
}

.input-view {
    background-color: #eeeaea;
}