USE [ASUTSK]
GO
/****** Object:  Table [dbo].[Cat_OZM_GSM]    Script Date: 12.12.2019 20:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_OZM_GSM](
	[id] [nvarchar](18) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[union] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_Cat_OZM_GSM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cat_OZM_GSM] ([id], [name], [union]) VALUES (N'107000020', N'Бензин А-76                            ', N'KG ')
INSERT [dbo].[Cat_OZM_GSM] ([id], [name], [union]) VALUES (N'107000021', N'Бензин А-80                            ', N'KG ')
INSERT [dbo].[Cat_OZM_GSM] ([id], [name], [union]) VALUES (N'107000022', N'Бензин А-92                            ', N'KG ')
GO
