USE [ASUTSK]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 12.12.2019 20:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[Level] [int] NULL,
	[Log] [nvarchar](max) NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([ID], [DateTime], [UserName], [Level], [Log]) VALUES (1, CAST(N'2019-11-29T09:29:43.170' AS DateTime), N'Бондаренко', 0, N'Панель оператора "Выдача на тепловоз (К-1)" - ОТКРЫТА')
INSERT [dbo].[Logs] ([ID], [DateTime], [UserName], [Level], [Log]) VALUES (2, CAST(N'2019-11-29T09:29:43.683' AS DateTime), N'Бондаренко', 0, N'Инициализация завершена, режим по умолчанию: 5')
INSERT [dbo].[Logs] ([ID], [DateTime], [UserName], [Level], [Log]) VALUES (3, CAST(N'2019-11-29T09:31:14.290' AS DateTime), N'Бондаренко', 0, N'Панель оператора "Выдача на тепловоз (К-1)" - ОТКРЫТА')
GO
SET IDENTITY_INSERT [dbo].[Logs] OFF
