USE [ASUTSK]
GO
/****** Object:  Table [dbo].[Incomes]    Script Date: 12.12.2019 20:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incomes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cist_nom] [nvarchar](25) NOT NULL,
	[Cist_Level] [real] NULL,
	[Cist_Vol] [real] NULL,
	[Cist_Mass] [real] NULL,
	[Cist_Dens] [real] NULL,
	[Cist_Temp] [real] NULL,
	[Cist_WaterLev] [real] NULL,
	[Cist_WaterVol] [real] NULL,
	[Created_Date] [datetime] NOT NULL,
	[User] [nvarchar](50) NOT NULL,
	[Start_Level] [real] NULL,
	[Start_Volume] [real] NULL,
	[Start_Mass] [real] NULL,
	[Start_Dens] [real] NULL,
	[Start_Temp] [real] NULL,
	[Start_Water] [real] NULL,
	[Start_Date] [datetime] NULL,
	[End_Level] [real] NULL,
	[End_Volume] [real] NULL,
	[End_Mass] [real] NULL,
	[End_Dens] [real] NULL,
	[End_Temp] [real] NULL,
	[End_Water] [real] NULL,
	[End_Date] [datetime] NULL,
	[Outed_During] [int] NULL,
	[Cist_Nakl_Nom] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Incomes] ON 

GO
SET IDENTITY_INSERT [dbo].[Incomes] OFF
ALTER TABLE [dbo].[Incomes] ADD  DEFAULT ((0)) FOR [Cist_Level]
GO
ALTER TABLE [dbo].[Incomes] ADD  DEFAULT ((0)) FOR [Cist_Vol]
GO
ALTER TABLE [dbo].[Incomes] ADD  DEFAULT ((0)) FOR [Cist_Mass]
GO
ALTER TABLE [dbo].[Incomes] ADD  DEFAULT ((0)) FOR [Cist_Dens]
GO
ALTER TABLE [dbo].[Incomes] ADD  DEFAULT ((0)) FOR [Cist_Temp]
GO
ALTER TABLE [dbo].[Incomes] ADD  DEFAULT ((0)) FOR [Cist_WaterLev]
GO
ALTER TABLE [dbo].[Incomes] ADD  DEFAULT ((0)) FOR [Cist_WaterVol]
GO
