USE [ASUTSK]
GO
/****** Object:  Table [dbo].[Remains]    Script Date: 12.12.2019 20:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remains](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Level] [decimal](16, 1) NOT NULL,
	[Volume] [decimal](16, 3) NOT NULL,
	[Mass] [decimal](16, 3) NOT NULL,
	[Dens] [decimal](16, 1) NOT NULL,
	[Temp] [decimal](16, 1) NOT NULL,
	[Water] [decimal](16, 1) NOT NULL,
	[User] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Remains] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Remains] ON 

INSERT [dbo].[Remains] ([Id], [Date], [Level], [Volume], [Mass], [Dens], [Temp], [Water], [User]) VALUES (1, CAST(N'2018-06-01T09:49:08.000' AS DateTime), CAST(513.0 AS Decimal(16, 1)), CAST(29.241 AS Decimal(16, 3)), CAST(24.173 AS Decimal(16, 3)), CAST(826.7 AS Decimal(16, 1)), CAST(24.4 AS Decimal(16, 1)), CAST(0.0 AS Decimal(16, 1)), N'Admin')
INSERT [dbo].[Remains] ([Id], [Date], [Level], [Volume], [Mass], [Dens], [Temp], [Water], [User]) VALUES (2, CAST(N'2018-06-01T19:00:52.000' AS DateTime), CAST(508.3 AS Decimal(16, 1)), CAST(28.974 AS Decimal(16, 3)), CAST(23.929 AS Decimal(16, 3)), CAST(825.9 AS Decimal(16, 1)), CAST(25.2 AS Decimal(16, 1)), CAST(0.0 AS Decimal(16, 1)), N'Admin')
INSERT [dbo].[Remains] ([Id], [Date], [Level], [Volume], [Mass], [Dens], [Temp], [Water], [User]) VALUES (3, CAST(N'2018-06-02T07:00:52.000' AS DateTime), CAST(506.3 AS Decimal(16, 1)), CAST(28.860 AS Decimal(16, 3)), CAST(23.925 AS Decimal(16, 3)), CAST(829.0 AS Decimal(16, 1)), CAST(21.2 AS Decimal(16, 1)), CAST(0.0 AS Decimal(16, 1)), N'Admin')
GO
SET IDENTITY_INSERT [dbo].[Remains] OFF
