USE [ASUTSK]
GO
/****** Object:  Table [dbo].[Outcomes]    Script Date: 09.11.2019 22:03:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outcomes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Out_Type] [int] NOT NULL,
	[Tr_nom] [nvarchar](50) NOT NULL,
	[Card_Id] [nvarchar](50) NOT NULL,
	[Debitor] [nvarchar](50) NOT NULL,
	[Nakl_Nom] [nvarchar](50) NOT NULL,
	[Target_Volume] [float] NOT NULL,
	[Target_Dens] [float] NOT NULL,
	[Target_Mass] [float] NOT NULL,
	[User] [nvarchar](50) NOT NULL,
	[Crated_Date] [datetime] NOT NULL,
	[Start_Counter] [int] NULL,
	[Start_Level] [float] NULL,
	[Start_Volume] [float] NULL,
	[Start_Mass] [float] NULL,
	[Start_Dens] [float] NULL,
	[Start_Temp] [float] NULL,
	[Start_Water] [float] NULL,
	[Start_Date] [datetime] NULL,
	[End_Counter] [int] NULL,
	[End_Level] [float] NULL,
	[End_Volume] [float] NULL,
	[End_Mass] [float] NULL,
	[End_Dens] [float] NULL,
	[End_Temp] [float] NULL,
	[End_Water] [float] NULL,
	[End_Date] [datetime] NULL,
 CONSTRAINT [PK_Outcomes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Outcomes] ON 

INSERT [dbo].[Outcomes] ([id], [Out_Type], [Tr_nom], [Card_Id], [Debitor], [Nakl_Nom], [Target_Volume], [Target_Dens], [Target_Mass], [User], [Crated_Date], [Start_Counter], [Start_Level], [Start_Volume], [Start_Mass], [Start_Dens], [Start_Temp], [Start_Water], [Start_Date], [End_Counter], [End_Level], [End_Volume], [End_Mass], [End_Dens], [End_Temp], [End_Water], [End_Date]) VALUES (1, 1, N'11111', N'1111', N'1111', N'11111', 1000, 9084, 9084, N'Admin', CAST(N'2018-05-25T12:51:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Outcomes] OFF
