USE [ASUTSK]
GO
/****** Object:  Table [dbo].[UsersChanges]    Script Date: 09.11.2019 22:03:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersChanges](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[TimeStartWork] [date] NOT NULL,
	[DateStartWork] [time](7) NOT NULL,
 CONSTRAINT [PK_UsersChanges] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UsersChanges] ON 

INSERT [dbo].[UsersChanges] ([id], [UserName], [TimeStartWork], [DateStartWork]) VALUES (1, N'Admin', CAST(N'2018-05-12' AS Date), CAST(N'15:37:35' AS Time))
INSERT [dbo].[UsersChanges] ([id], [UserName], [TimeStartWork], [DateStartWork]) VALUES (2, N'Admin', CAST(N'2018-05-12' AS Date), CAST(N'15:41:32' AS Time))
INSERT [dbo].[UsersChanges] ([id], [UserName], [TimeStartWork], [DateStartWork]) VALUES (3, N'user', CAST(N'2018-05-12' AS Date), CAST(N'15:41:52' AS Time))
GO
SET IDENTITY_INSERT [dbo].[UsersChanges] OFF
