USE [ASUTSK]
GO
/****** Object:  Table [dbo].[ManualMode]    Script Date: 09.11.2019 22:03:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManualMode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManualState] [bit] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Level] [decimal](16, 1) NOT NULL,
	[Volume] [decimal](16, 3) NOT NULL,
	[Mass] [decimal](16, 3) NOT NULL,
	[Dens] [decimal](16, 1) NOT NULL,
	[Temp] [decimal](16, 1) NOT NULL,
	[Water] [decimal](16, 1) NOT NULL,
	[User] [nvarchar](50) NOT NULL,
	[Comment] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_ManualMode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ManualMode] ON 

INSERT [dbo].[ManualMode] ([Id], [ManualState], [Date], [Level], [Volume], [Mass], [Dens], [Temp], [Water], [User], [Comment]) VALUES (1, 1, CAST(N'2018-06-08T13:55:10.000' AS DateTime), CAST(1377.1 AS Decimal(16, 1)), CAST(78.473 AS Decimal(16, 3)), CAST(64.976 AS Decimal(16, 3)), CAST(828.0 AS Decimal(16, 1)), CAST(24.9 AS Decimal(16, 1)), CAST(0.0 AS Decimal(16, 1)), N'', N'')
INSERT [dbo].[ManualMode] ([Id], [ManualState], [Date], [Level], [Volume], [Mass], [Dens], [Temp], [Water], [User], [Comment]) VALUES (2, 0, CAST(N'2018-06-08T14:24:16.000' AS DateTime), CAST(1733.7 AS Decimal(16, 1)), CAST(98.791 AS Decimal(16, 3)), CAST(81.808 AS Decimal(16, 3)), CAST(828.1 AS Decimal(16, 1)), CAST(25.2 AS Decimal(16, 1)), CAST(0.0 AS Decimal(16, 1)), N'Admin', N'')
INSERT [dbo].[ManualMode] ([Id], [ManualState], [Date], [Level], [Volume], [Mass], [Dens], [Temp], [Water], [User], [Comment]) VALUES (3, 1, CAST(N'2018-06-08T14:42:37.000' AS DateTime), CAST(1732.9 AS Decimal(16, 1)), CAST(98.746 AS Decimal(16, 3)), CAST(81.762 AS Decimal(16, 3)), CAST(828.0 AS Decimal(16, 1)), CAST(25.3 AS Decimal(16, 1)), CAST(0.0 AS Decimal(16, 1)), N'Admin', N'')
GO
SET IDENTITY_INSERT [dbo].[ManualMode] OFF
ALTER TABLE [dbo].[ManualMode] ADD  DEFAULT ('') FOR [Comment]
GO
